.info-title{
  font-family: 'Inter' !important;
}

.carousel-inner{
  border-radius: 20px;
}

#more-tech{
  font-size: 1.2em;
  color: white;
  padding: 10px;
  transition: all 300ms;
  background-color: black;
}

#more-tech:hover{
  cursor: pointer;
  color: black;
  background-color: white;
  padding: 10px;
  border: 1px solid white;
}

.news-grid-wrap{
  display: grid;
  grid-template-columns: repeat(3, 350px);
  grid-auto-rows: 1fr;
  column-gap: 104px;
  row-gap: 62px;
  place-content: center;
}

.news-card{
  border-radius: 20px 20px 10px 10px;
  box-shadow: 0 0 10px 1px rgba(255,255,255, 0.34);
  transition: all 0.15s;
}

.news-card:hover{
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 6px -3px 10px 1px rgba(0,0,0, 0.34);
  border: 1px solid white;
}
.news-pic img{
  border-radius: 20px 20px 10px 10px;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.news-card .title{
  font-family: 'Niradei';
  font-size: 1.1em;
  white-space: wrap;
  color: white;
  padding: 10px;
}

.black-bg{
  background-color: black;
  height: 1030px;
  margin-top: -1030px; 
  z-index: -1;
}

.sponsor{
  height: 200px;
  background-color: red;
  padding: 20px 50px;
  margin-bottom: 64px;
}

h1{
  font-family: 'Inter' !important;
}

.m-5.w-100.d-flex.justify-content-center.border{
  border-radius: 50px;
}

.m-0.d-flex.w-100.align-items-center.p-5,
.m-0.d-flex.w-100.align-items-center.p-5,
.m-0.d-flex.w-100.align-items-center.p-5{
  background-repeat: no-repeat;
  background-position: 0, 30px;
  background-size: cover;
  transition: all 0.15s;
}

.m-0.d-flex.w-100.text-white.align-items-center.p-5.enter:hover,
.m-0.d-flex.w-100.text-white.align-items-center.p-5.soci:hover,
.m-0.d-flex.w-100.text-white.align-items-center.p-5.sport:hover{
  cursor: pointer;
  background: linear-gradient(-100deg,rgba(0,0,0,0) 5%, rgba(144, 191, 81,0.2) 50%);
  color: black !important;
}

.m-0.d-flex.w-100.text-white.align-items-center.p-5.sport{
  background-image: url(../resources/bg-img/tech-bg.jpg);
}

.m-0.d-flex.w-100.text-white.align-items-center.p-5.soci{
  background-image: url(../resources/bg-img/society-bg.jpg);
}

.m-0.d-flex.w-100.text-white.align-items-center.p-5.enter{
  background-image: url(../resources/bg-img/enter-bg.jpg);
}

.d-flex.w-100.align-items-center.p-5 h1{
  font-size: 4em;
}

.d-flex.w-100.align-items-center.p-5 sub{
  font-size: 2.2em;
}

.blue-bg{
  display: flex;
}

#tech-bluebg{
  border-radius: 40px;
  transition: all 0.15s;
}

#tech-bluebg:hover{
  box-shadow: 3px 3px 10px 3px rgba(0,0,0, 0.4);
}

#news-name-banner{
  font-weight: 700;
  transition: all 0.15s;
}

#view-more{
  display: inline-block;
  font-size: 2.2em !important;
  transition: all 0.15s;
}

#view-more:hover{
  color: rgba(81, 115, 236, 1) !important;
  padding-bottom: 2px;
  border-bottom: 3px solid rgba(81, 115, 236, 1);
}

@media only screen and (max-width: 1024px){
  main{
    margin-top: 112px;
  }
  .news-grid-wrap{
    grid-template-columns: repeat(2, 350px);
  }
  #tech-bluebg{
    padding: 4px !important;
  }
  .info-title{
    font-size: 2em !important;
  }
  .black-bg{
    height: 1574px;
    margin-top: -1574px;
  }
}
@media only screen and (max-width: 768px){
  .black-bg{
    height: 1644px;
    margin-top: -1644px;
  }
  main{
    margin-top: 76px;
  }
  .news-grid-wrap{
    grid-template-columns: repeat(2, 300px);
    column-gap: 64px;
  }
  #tech-bluebg{
    padding: 4px;
  }
  .info-title{
    font-size: 1.7em !important;
  }
  .d-flex.flex-column.justify-content-center.containe-fluid.p-5{
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  .m-0.d-flex.w-100.text-white.align-items-center.p-5.sport,
  .m-0.d-flex.w-100.text-white.align-items-center.p-5.soci,
  .m-0.d-flex.w-100.text-white.align-items-center.p-5.enter{
  height: 300px !important;
}
#news-name-banner{
  font-size: 48px;
}
#view-more{
  font-size: 24px !important;
}
}

@media only screen and (max-width: 600px){
  main{
    margin-top: 66px;
  }
  .news-grid-wrap{
    grid-template-columns: repeat(1, 300px);
    column-gap: 64px;
  }
  .black-bg{
    height: 3370px;
    margin-top: -3370px;
  }
  #tech-bluebg{
    padding: 4px;
  }

  .info-title{
    font-size: 1.4em !important;
  }
  
  .d-flex.flex-column.justify-content-center.containe-fluid.p-5{
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  .m-0.d-flex.w-100.text-white.align-items-center.p-5.sport,
  .m-0.d-flex.w-100.text-white.align-items-center.p-5.soci,
  .m-0.d-flex.w-100.text-white.align-items-center.p-5.enter{
  height: 200px !important;
}
#news-name-banner{
  font-size: 40px;
}
#view-more{
  font-size: 16px !important;
}
.m-0.sponsor.d-flex.align-items-center{
  height: 120px !important;
}
.m-0.sponsor.d-flex.align-items-center h1{
  font-size: 36px;
}
}

@media only screen and (max-width: 400px){
  main{
    margin-top: 66px;
  }
  .news-grid-wrap{
    grid-template-columns: repeat(1, 270px);
    column-gap: 64px;
  }
  .black-bg{
    height: 3250px;
    margin-top: -3250px;
  }
  #tech-bluebg{
    padding: 4px;
  }

  .info-title{
    font-size: 1.4em !important;
  }
  
  .d-flex.flex-column.justify-content-center.containe-fluid.p-5{
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  .m-0.d-flex.w-100.text-white.align-items-center.p-5.sport,
  .m-0.d-flex.w-100.text-white.align-items-center.p-5.soci,
  .m-0.d-flex.w-100.text-white.align-items-center.p-5.enter{
  height: 200px !important;
}
#news-name-banner{
  font-size: 36px;
}
#view-more{
  font-size: 16px !important;
}
.m-0.sponsor.d-flex.align-items-center{
  height: 120px !important;
}
.m-0.sponsor.d-flex.align-items-center h1{
  font-size: 36px;
}
.carousel-caption h1{
  font-size: 26px !important;
}
}